:root {
    --beige: rgb(146, 125, 89);
    --beige-menu: #ebeaea;
    --grigio: #383838;
}

*[class*="regular"] {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*[class*="medium"] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*[class*="semibold"] {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

*[class*="bold"] {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    cursor: default;
    user-select: none;
    height: 100%;
}


a {
    text-decoration: none;
    color: black;
}

p {
    margin-block-end: 0.3em;
}

/*COMPANY NAME E TAGLINE*/

h3[class*="tagline"] {
    padding-left: 0.2em;
    font-size: 1.3vw;
}

#names {
    flex-grow: 0.6;
}

.name-bold {
    font-size: 3vw;
}

/*TOPBAR CON NAVBAR*/

.topbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.navbar {
    display: inline-block;
    justify-content: space-evenly;
    flex-grow: 0.6;
    padding-top: 1em;
}

.navbar-text {
    font-size: 0.9vw;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0.6;
    height: 2.8em;
}

.navbar-item {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.navbar-item:hover {
    opacity: 0.9;
    transition: opacity 0.5s;
}

.item-active {
    opacity: 1;
}


/*Pallino*/

.navbar-item::after {
    content: "";
    position: absolute;
    top: 1.5em;
    display: inline-block;
    right: 50%;
    height: 0.5vw;
    width: 0.5vw;
    background-color: var(--beige);
    border-radius: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
}

.navbar-item:hover::after {
    opacity: 0.8;
}

.item-active::after {
    content: "";
    position: absolute;
    top: 1.5em;
    display: inline-block;
    right: 50%;
    height: 0.5vw;
    width: 0.5vw;
    background-color: var(--beige);
    border-radius: 100%;
    position: relative;
    opacity: 1;
}




/*ICONA DEL MENU*/

.menu-icon{
    position:relative;
    z-index: 0;
    color: var(--beige);
    top: 0.5vh;
    right: 0;
    font-size: 3vw;
}

.menu-icon:hover {
    color: var(--beige);
    opacity: 0.8;
    cursor: pointer;
}




/*MENU*/
.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0vh;
    bottom: 0vh;
    width: 30vw;
    right: -32vw;
    z-index: 3;
    height: 100vh;
    background-color: var(--beige-menu);
    box-shadow: 0 0 2px 2px var(--beige-menu);
   
    transition: all 0.5s;
}

.menu-aperto{
    overflow-y:hidden;
}

.menu-disappear {
    right: 0vw;
}

.bi-x-lg{
    text-align:center;
    padding-top:50px;
}



.menu-text-landscape {
    font-size: 1.5em;
    display: flex;
    list-style-type: none;
    padding: 1em;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    overflow: auto;
}

.menu-text-portrait {
    display: none;
}

.menu-item {
    font-size: 1.5vw;
    opacity: 1;
    transition: opacity 0.5s;
}

.menu-item:hover {
    opacity: 0.8;
}

.socials {
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom:50px;
}

.testo-socials {
    gap: 10px;
}

.icone-socials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.social-i:hover {
    opacity: 0.8;
}

.overlay-shown{
    display:block;
    position:absolute;
    height:100%;
    width:100%;
    background-color:black;
    z-index:-1;
    top:0;
    right:0;
    opacity:0;
    transition: all 1s;
}

.overlay{
    display:block;
    position:absolute;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.4;
    z-index:2;
    top:0;
    right:0;
    transition: all 1s;
}










/*Main Content*/

main {
    position: relative;
    top: 2.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.main-text {
    display: flex;
    flex-direction: column;
    left: 1vw;
    width: 35vw;
    height: 53vh;
    gap: 10%;
}

.main-title-bold {
    font-size: 6vw;
    line-height: 1em;
    margin: 0;
}

.main-description-regular {
    position: relative;
    line-height: 2em;
    font-size: 1vw;
}

.readmore-medium {
    position: relative;
    height: 3vw;
    width: 13vw;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--beige);
    z-index:0;
    cursor:pointer;
}

#readmore-text {
    position: relative;
    text-align: center;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    top: 20%;
    margin: 0;
    color: white;
    
}

.readmore-medium:hover{
    cursor:pointer;
}

.swiper {
    position: relative;
    margin: 0;
    width: 43vw;
    height: 28vw;
    z-index: -1;
    --swiper-pagination-color: var(--beige);
    --swiper-navigation-sides-offset: 1vw;
    --swiper-navigation-size: 2vw;

}

.slide {
    width: 100%;
    display: block;
    object-fit: fill;
}

.swiper-button-next {
    color: var(--beige);
}

.swiper-button-prev {
    color: var(--beige);
}

@media (orientation: portrait) {

    html {
        height: 0;
        margin-bottom: 10vh;
    }

    h3[class*="tagline"] {
        font-size: 5vw;
    }

    .name-bold {
        font-size: 8vw;
    }

    /*TOPBAR CON NAVBAR*/
    .topbar {
        margin-top: 4vh;
    }

    .navbar-text {
        font-size: 0.9vw;
        display: none;
    }

    .navbar-item {
        font-size: 5vw;
    }



    /*ICONA DEL MENU*/


    .menu-icon {
        font-size: 13vw;
        position: relative;
        top: 0.2vh;
    }

    /*MENU*/

    .menu {
        width: 55vw;
        right: -57vw;
        gap:0;
        
    }

    .menu-disappear {
        right: 0vw;
    }
    .bi-x-lg{
        right: 0;
        width:auto;
        text-align:center;
    }

    .menu-item {
        padding-bottom: 1.5vh;
        font-size: 2.5vh;
        list-style-type: none;
    }

    .menu-text-landscape {
        display: none;
    }

    .menu-text-portrait {
        font-size: 1.5em;
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: auto;
        padding-inline-start: 30px;
        overflow: auto;
    }

    .socials {
        font-size: 3vh;
        top: 40vh;
        gap: 40%;
    }

    .icone-socials {
        flex-wrap: wrap;
        gap: 20%;
        padding: 3vh;
        padding-top: 0vh;
        padding-bottom: 0vh;
    }

    .overlay-shown{
        display:block;
        position:absolute;
        height:110vh;
        width:110vw;
        background-color:black;
        z-index:-1;
        top:0;
        right:0;
        opacity:0;
        transition: all 1s;
    }
    
    .overlay{
        display:block;
        position:absolute;
        height:110vh;
        width:110vw;
        background-color:black;
        opacity:0.4;
        z-index:2;
        top:0;
        right:0;
        transition: all 1s;
    }



    /*Main Content*/
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 10vh;
    }

    .main-text {
        position: relative;
        left: 6vw;
        height: auto;
        width: 75vw;
        top: 0.5vh;
        gap: 30%;
    }

    .main-title-bold {
        font-size: 13vw;
    }

    .main-description-regular {
        left: 0.3em;
        font-size: 4vw;
    }

    .readmore-medium {
        position: relative;
        height: 4vh;
        width: 16vh;
        margin: 2px;
        border-radius: 5px;
        background-color: var(--beige);
    }

    #readmore-text {
        position: relative;
        text-align: center;
        font-size: 2vh;
        letter-spacing: 0.2vw;
        top: 1.5vh;
        margin: 0;
        top: 25%;
        color: white;
    }

    .swiper {
        left: 2vh;
        width: 90%;
        height: fit-content;
    }
}



@media (max-width: 1800px) {
    .navbar-text {
        font-size: 1.4vw;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
        height: 2.8em;
    }
}