:root {
    --beige: rgb(146, 125, 89);
    --beige-menu: #cacaca;
    --grigio: #383838;
}

*[class*="regular"] {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*[class*="medium"] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*[class*="semibold"] {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

*[class*="bold"] {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    cursor: default;
    user-select: none;
    overflow-x: hidden;
    height: 100%;
    max-width: 1920px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-block-end: 0.3em;
}

/*COMPANY NAME E TAGLINE*/

h3[class*="tagline"] {
    padding-left: 0.2em;
}

#names {
    flex-grow: 0.6;
}

.name-bold {
    font-size: 2.4em;
}

.topbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.navbar {
    display: inline-block;
    justify-content: space-evenly;
    flex-grow: 0.6;
    padding-top: 1em;
}

.navbar-text {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0.6;
    height: 2.8em;
}

.navbar-item {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.navbar-item:hover {
    opacity: 0.9;
    transition: opacity 0.5s;
}

.item-active {
    opacity: 1;
}


/*Pallino*/

.navbar-item::after {
    content: "";
    position: absolute;
    top: 1.5em;
    display: inline-block;
    right: 50%;
    height: 8px;
    width: 8px;
    background-color: var(--beige);
    border-radius: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
}

.navbar-item:hover::after {
    opacity: 0.8;
}

.item-active::after {
    content: "";
    position: absolute;
    top: 1.5em;
    display: inline-block;
    right: 50%;
    height: 8px;
    width: 8px;
    background-color: var(--beige);
    border-radius: 100%;
    position: relative;
    opacity: 1;
}




/*ICONA DEL MENU*/

#menu-icon {
    position: relative;
    z-index: 4;
    color: var(--beige);
    top: 0.5vh;
    margin-bottom: 1em;
    right:0;
    font-size: 50px;
}

#menu-icon:hover {
    color: var(--beige);
    opacity: 0.8;
    cursor: pointer;
}

/*MENU*/
.menu {
    overflow: hidden;
    position: fixed;
    top: 0vh;
    bottom: 0vh;
    width: 30vw;
    height: 100vh;
    right: -32vw;
    z-index: 3;
    height: 100vh;
    background-color: var(--beige-menu);
    box-shadow: 0 0 2px 2px var(--beige-menu);
    transition: all 0.5s;
}

.menu-disappear {
    right: 0vw;
}

.menu-item {
    padding-bottom: 1.5em;
    opacity:1;
    transition: opacity 0.5s;
}

.menu-item:hover {
    opacity:0.8;
}

.socials {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 50%;
}

.icone-socials {
    position: relative;
    top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0.6;
    bottom: 2vh;
}
.social-i:hover{
    opacity:0.8;
}

.menu-text {
    font-size: 1.5em;
    display: flex;
    list-style-type: none;
    margin: 2em;
    margin-top: 10vh;
    padding: 1em;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Main Content*/
.main-text {
    position: relative;
    top: 3em;
    left: 7vw;
    width: 35vw;
    height: 50vh;
}

.main-title-bold {
    font-size: 6vw;
    margin-top: 0.5em;
    line-height: 1em;
}

.main-description-regular {
    left: 0.3em;
    position: relative;
    line-height: 2em;
}

.readmore-medium {
    position: relative;
    letter-spacing: 0.2em;
    left: 0.3em;
    top: 3em;
    border: 1px solid var(--beige);
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: white;
    background-color: var(--beige);
}

/* Rettangoli carosello immagini */

.swiper {
    position: absolute;
    top: 20vh;
    right:5vw;
    height: 60vh;
    width: 43vw;
    z-index: 2;
    --swiper-pagination-color: var(--beige);
    
}

.swiper-button-next{
    color:var(--beige);
}

.swiper-button-prev{
    color:var(--beige);
}
