:root {
    --beige: rgb(146, 125, 89);
    --beige-menu: #cacaca;
    --grigio: #383838;
}

*[class*="regular"] {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*[class*="medium"] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*[class*="semibold"] {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

*[class*="bold"] {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    cursor: default;
    user-select: none;
    overflow-x: hidden;
    height: 100%;
}

.html-menu {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-block-end: 0.3em;
}

/*COMPANY NAME E TAGLINE*/

h3[class*="tagline"] {
    padding-left: 0.2em;
}

#names {
    flex-grow: 0.6;
}

.name-bold {
    font-size: 3vw;
}

/*TOPBAR CON NAVBAR*/

.topbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.navbar {
    display: inline-block;
    justify-content: space-evenly;
    flex-grow: 0.6;
    padding-top: 1em;
}

.navbar-text {
    font-size: 0.9vw;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0.6;
    height: 2.8em;
}

.navbar-item {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.navbar-item:hover {
    opacity: 0.9;
    transition: opacity 0.5s;
}

.item-active {
    opacity: 1;
}


/*Pallino*/

.navbar-item::after {
    content: "";
    position: absolute;
    top: 1.5em;
    display: inline-block;
    right: 50%;
    height: 8px;
    width: 8px;
    background-color: var(--beige);
    border-radius: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
}

.navbar-item:hover::after {
    opacity: 0.8;
}

.item-active::after {
    content: "";
    position: absolute;
    top: 1.5em;
    display: inline-block;
    right: 50%;
    height: 8px;
    width: 8px;
    background-color: var(--beige);
    border-radius: 100%;
    position: relative;
    opacity: 1;
}




/*ICONA DEL MENU*/

#menu-icon {
    position: relative;
    z-index: 4;
    color: var(--beige);
    top: 0.5vh;
    margin-bottom: 1em;
    right: 0;
    font-size: 3vw;
}

#menu-icon:hover {
    color: var(--beige);
    opacity: 0.8;
    cursor: pointer;
}

/*MENU*/
.menu {
    overflow: hidden;
    position: fixed;
    top: 0vh;
    bottom: 0vh;
    width: 30vw;
    right: -32vw;
    z-index: 3;
    height: 100vh;
    background-color: var(--beige-menu);
    box-shadow: 0 0 2px 2px var(--beige-menu);
    transition: all 0.5s;
}

.menu-disappear {
    right: 0vw;
}

.menu-item {
    font-size: 1.5vw;
    padding-bottom: 1.2em;
    opacity: 1;
    transition: opacity 0.5s;
}

.menu-item:hover {
    opacity: 0.8;
}

.socials {
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    top: 50%;
}

.icone-socials {
    position: relative;
    top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0.6;
    bottom: 2vh;
}

.social-i:hover {
    opacity: 0.8;
}

.menu-text {
    font-size: 1.5em;
    display: flex;
    list-style-type: none;
    margin: 2em;
    margin-top: 10vh;
    padding: 1em;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Main Content*/

main {
    position:relative;
    top:5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-text {
    display:flex;
    flex-direction:column;
    left: 1vw;
    width: 35vw;
    height: 50vh;
    gap:10%;
}

.main-title-bold {
    font-size: 6vw;
    line-height: 1em;
    margin:0;
}

.main-description-regular {
    left: 0.3em;
    position: relative;
    line-height: 2em;
    font-size:1vw;
}

.readmore-medium {
    position: relative;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    left: 0.3vw;
    text-align:center;
    border: 1px solid var(--beige);
    padding: 1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    color: white;
    background-color: var(--beige);
}

.swiper {
    position: relative;
    margin: 0;
    width: 43vw;
    height: 28vw;
    z-index: 2;
    --swiper-pagination-color: var(--beige);

}

.slide {
    width: 100%;
    display: block;
    object-fit: fill;
}

.swiper-button-next {
    color: var(--beige);
    right: 0;
}

.swiper-button-prev {
    color: var(--beige);
    left: 0.6em;
}

@media (orientation: portrait) {
    h3[class*="tagline"] {
        font-size:5vw;
    }

    .name-bold {
        font-size: 8vw;
    }

    /*TOPBAR CON NAVBAR*/
    .topbar{
        margin-top:4vh;
    }
    .navbar-text {
        font-size: 0.9vw;
        display:none;
    }

    .navbar-item {
        font-size:5vw;
    }

    

    /*ICONA DEL MENU*/

    #menu-icon {
        font-size:13vw;
        position: relative;
        top: 0.2vh;
    }

    /*MENU*/

    .menu {
        width: 50vw;
        right: -52vw;
    }

    .menu-disappear {
        right: 0vw;
    }

    .menu-item {
        padding-bottom: 1.5vh;
        font-size:3vh;
    }

    .socials {
        font-size: 3vh;
        top:40vh;
    }

    .icone-socials {
        flex-wrap: wrap;
        gap: 20%;
        padding: 3vh;
        padding-top: 0vh;
        padding-bottom: 0vh;
    }

    .menu-text {
        margin: 0.2em;
        margin-top: 7vh;
    }

    /*Main Content*/
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap:2%;
    }

    .main-text {
        position: relative;
        left:6vw;
        width: 75vw;
        height: 60vh;
        top: 0.5vh;
    }

    .main-title-bold {
        font-size: 13vw;
    }

    .main-description-regular {
        left: 0.3em;
        font-size: 4vw;
    }

    .readmore-medium {
        font-size: 6vw;
    }

    .swiper {
        top:5vh;
        bottom:3vh;
        left:2vh;
        width:90%;
        height:fit-content;
        margin-bottom:10vh;
    }
}